*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  
}

/* .parent-container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;

} */

.bg {
    background: rgb(0, 0, 0, 0.5) url(../././../images/image1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
    padding: 4rem;
    min-height: 80vh;
    height: 70%;
    color: #FDF4F5;
    display: block;
    text-align: justify;
    border: 1rem solid #FB6D48;
  }

  .bg > h1 {
    margin-top: 5rem;
   
  }

  .bg > h1, p {
    margin-left: 5rem;
  }
  
  .btn {
    background-color: #FB6D48;
    color: #FDF4F5;
    padding: 13px 15px;
    border-radius: 5px;
    display: flex-end;
    margin-top: 25px;
    margin-left: 5rem;
    width: 8rem;
  }
  
  /* .center {
    margin: auto;
    width: 30%;
    padding: 40px;
    display: block;
    text-align: justify;
  } */