/* *, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  
}

.loan {
    display: flex;
    background: #fff;
    justify-content:space-around;
    align-items: center;
  }
  
  .loan .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 50px;
  }
  
  .loan-banner {
   position: relative;
   margin-bottom: 40px;
  }
  
  .loan-img {
    width: 100%;
  }
  
  
  .loan-title {
   margin-top: 5px;
  }
  
  .loan .section-text {
    margin-bottom: 5px;
  } */

.about-parent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 5rem;
}

.about-title > h2 {
  margin-bottom: 0.5rem;

}

.about-title > p {
  margin-bottom: 1rem;
}

.about-title > ul > li > h4 {
  margin-bottom: 0.5rem;
}

.about-title > ul > li > p {
  margin-bottom: 0.5rem;
}