*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  
}


  .blog-parent {
    display: flex;
    padding-top: 5rem;
    justify-content: space-evenly;
    align-items: center;
  }

  .blog-title > h2 {
    margin-bottom: 0.5rem;

  }

  .blog-title > p {
    margin-bottom: 2rem;
  }

  .blog-container > ol > li > h5 {
    margin-bottom: 0.5rem;
    font-size: small;
    
  }

  .blog-container > ol > li > p {
    margin-bottom: 1.5rem;
    font-size: small;
    
  }

  .blog-container > ol {
    margin-left: 1rem;
  }

  .blog-pic > img {
 padding-top: 5rem;
 margin-right: 8rem;

  }